{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

{{ form_start(addMatiere)}}
  {{ form_row(addMatiere.nom, { 'label': 'Nom de matière' }) }}
  {{ form_row(addMatiere.coef, { 'label': 'Coefficient de matière' }) }}
  {{ form_end(addMatiere)}}

  {% if matieres is not empty %}
    {% for matiere in matieres %}
      <h4>Liste de matiere</h4>
      <ul>
        <li>Matiere :</li> {{ matiere.nom }}
        <li>Coef :</li> {{ matiere.coef }}
        <a href="matieres"><button type="button" class="btn btn-primary">Page Fiche</button><a>
      </ul>

    {% endfor %}
  {% endif %}


{% endblock %}
